body{
  padding-top: 70px;
}

img.i {
  display: block;
  margin: 10px auto;
}

img.img-zoom{
  cursor: pointer;
}

div.service-alert{
  margin-top: 10px;
}

img#zoom_image{
  margin-bottom: 15px;
}

.link-domain {
	font-size: 1.4em;
	color: #660066;
}
.link-host {
	font-size: 1.1em;
	color: #800080;
}
ul.groupview, ul.groupview ul {
	list-style-type: none;
}
.navbar-brand .logo {
   background: url(../img/logo-munin.png) left top;
   margin: 0 0 0 50px;
   width: 115px;
   height: 20px;
   display: block;
   float: left;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 50px;
}
.dropdown-menu>li.categories{
  width: 280px;
}
.dropdown-menu>li.categories>a{
  clear: none;
}
.dropdown-menu>li.categories .pull-left{
  margin: 0 15px;
}
#zoom_hover{
  position:relative;
}
#overlay{
  position:absolute;
  top:0;
  height: 505px;
  background:rgba(0,0,0,0.2);
}
#zoom .modal-lg{
  width: 940px;
}